@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);

body {
    
    font-family: "Roboto", helvetica, arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-left: 20px;
}

#logout {
	
  font: bold 14px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  
}

p {

    padding: 5px;
}

.wrap {
    display: flex;
    justify-content: space-between;
}

.main {
    overflow: hidden;
    text-align: center;
    display: block;

}

.top_right {
    margin-top: 20px;
    margin-right:10px;

}

h1 {
    font-size: 30px;
    font-weight: 400;
    font-style:normal;
    font-family: "Roboto", helvetica, arial, sans-serif;
    text-transform:uppercase;
}

.table-fill {
    background: white;
    border-radius:3px;
    border-collapse: collapse;
    height: 200px;
    width: 400px;

    padding:5px;
}

th {
    color:#D5DDE5;;
    background:#1b1e24;
    border-bottom:4px solid #9ea7af;
    border-right: 1px solid #343a45;
    font-size:23px;
    font-weight: 100;
    padding:14px;
    text-align:left;
    vertical-align:middle;
}


tr {
    border-top: 1px solid #C1C3D1;
    border-bottom-: 1px solid #C1C3D1;
    color:#666B85;
    font-size:16px;
    font-weight:normal;
}

td {
    background:#FFFFFF;
    padding:10px;
    text-align:left;
    vertical-align:middle;
    font-weight:300;
    font-size:18px;
    border-right: 1px solid #C1C3D1;
}

tr:hover td {
    background:#4E5066;
    color:#FFFFFF;
    border-top: 1px solid #22262e;
}

tr:first-child {
    border-top:none;
}

tr:last-child {
    border-bottom:none;
}

th:first-child {
    border-top-left-radius:3px;
}

th:last-child {
    border-top-right-radius:3px;
    border-right:none;
}

th.text-left {
    text-align: left;
}

td:last-child {
    border-right: 0px;
    border-bottom: 0px;
}

td.text-left {
    text-align: left;
}


